{% extends 'base.html' %}

    {% block head %}
        <title>Home</title>
    {% endblock %}


    {% block body %}
        <div class="container">
            <div class="col-md-8">
                <h2>home base</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.error }}
                    {{ form.post }}
                    <br>
                    <button type="submit">Submit</button>
                    <h2>{{ text }}</h2>
                    {% for post in posts %}
                        <h3>{{ post.post }}</h3>
                        <ul>Posted by {{ post.user }} on {{ post.created }}</ul>
                    {% endfor %}
                </form>
            </div>
            <div class="col-md-4">
                <h2>Other people</h2>
                    {% for user in users %}
                        <a href="{% url 'accounts:view_profile_with_pk' pk=user.pk %}"><h3>{{ user.username }}</h3></a>
                    {% endfor %}
                <h2>Friends</h2>
                    {% for friend in friends %}
                        <a href="{% url 'accounts:view_profile_with_pk' pk=user %}"><h3>{{ friend.username }}</h3></a>
                    {% endfor %}
            </div>
    {% endblock %}

