{% extends 'base.html' %}

    {% block head %}
        <title>Home</title>
    {% endblock %}




    {% block body %}
        <div class="container">
        <h1>home base</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.error }}
                {{ form.post }}
                <br>
                <button type="submit">Submit</button>

                <h2>{{ text }}</h2>
                {% for post in posts %}
                    <h3>{{ post.post }}</h3>
                    <ul>Posted by {{ post.user }} on {{ post.created }}</ul>
                {% endfor %}


            </form>
        </div>
    {% endblock %}

